@charset "utf-8";

:root {
	--gallery-gap: 15px;
	//--gallery-column: calc(100% / 4);
	--gallery-column: calc(100% / 3);
}

@media(max-width: 600px) {
	:root {
		--gallery-column: calc(100% / 2);
	}
}

@media(max-width: 400px) {
	:root {
		--gallery-column: 100%;
	}
}

html {
	overflow-y: initial !important;
}

* {
	&,
	&::befopre,
	&::after {
		box-sizing: border-box;
	}
}

// Выравнивание текста
.text {
	&-center {
		text-align: center;
	}
	&-right {
		text-align: right;
	}
	&-left {
		text-align: left;
	}
}

// Инлайновые блоки
.inline {
	&-block {
		display: inline-block;
	}
	&-flex {
		display: inline-flex;
	}
	&-table {
		display: inline-table;
	}
	&-grid {
		display: inline-grid;
	}
	display: inline;
}

// блоки
.display {
	&-block {
		display: block;
	}
	&-flex {
		display: flex;
	}
	&-table {
		display: table;
	}
	&-grid {
		display: grid;
	}
	&-inline {
		.inline();
	}
}

.embed-container {
	margin-bottom: 1.5em;
}

.fancybox-container {
	z-index: 9999999 !important;
}

.fancybox-content.xlsx_viewer,
.fancybox-content.docx_viewer {
	height: 100% !important;
	overflow: visible;
	padding: 0;
	width: 100% !important;
}

.wp-block-embed {
	&.is-type-rich {
		margin: 0 0 24px;
	}
}

.embeded {
	width: 100%;
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
	iframe,
	video {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
}

.wp-block {

	&-gallery {
		align-items: normal;
		display: flex;
		flex-wrap: wrap;
		gap: var(--gallery-gap);
		margin: calc(var(--gallery-gap) * 2) 0;
		padding: 0 var(--gallery-gap);
	}

	&-image {
		align-self: inherit;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: center;
		margin: 0;
		max-width: 100%;
		position: relative;
		width: calc(var(--gallery-column) - var(--gallery-gap)) !important;

		a,
		img {
			display: flex;
			flex: 1 0 0%;
			flex-direction: column;
			height: 100%;
			object-fit: cover;
			margin: 0;
			width: 100%;
		}

	}

}

body .bvi-body[data-bvi-builtelements=true]:not(.bvi-no-styles) {
	figure.wp-block {
		&-gallery {
			&,
			&.has-nested-images figure.wp-block-image {
				display: flex !important;
			}
		}
	}
}
// grayscale
body .bvi-body[data-bvi-images=grayscale]:not(.bvi-no-styles) img:not(.bvi-no-styles),
body .bvi-body[data-bvi-images=grayscale]:not(.bvi-no-styles) .fancybox-thumbs__list a {
	-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	-o-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(1);
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
	filter: grayscale(1);
	visibility: visible
}

.breadcrumbs {
	font-size: 1.5em;
	span[property="name"] {
		display: inline-block;
		width: auto;
	}
}
